<div class="main" [ngStyle]="currentStyles">
  <div class="container" *ngIf="data">
    <div class="upper-data">
      <img src="../assets/cold.jpg" alt="hot" *ngIf="data.current.temp_c < 25">
      <img src="../assets/hot.jpg" alt="cold" *ngIf="data.current.temp_c >= 25">
      <div class="search">
        <form #form="ngForm" (submit)="onSubmit()">
          <input type="text"
          placeholder="Saisir le nom d'une ville"
          name="city"
          [(ngModel)]="cityName"
          #cityNameModel="ngModel"
          required
          pattern="^[A-Za-z\- ]+$">
          <button type="submit">Chercher</button>

          <div *ngIf="cityNameModel.invalid && (cityNameModel.dirty || cityNameModel.touched)" class="alert">
            <div *ngIf="cityNameModel.errors?.['required']">
              Le nom de la ville est requis.
            </div>
            <div *ngIf="cityNameModel.errors?.['pattern']">
              Le nom doit comporter que des lettres.
            </div>
          </div>
        </form>
      </div>
      <div class="weather-data">
        <div class="location">{{ data.location.name }}</div>
        <div class="temperature">{{ data.current.temp_c | number: '1.0-0'}}°C</div>
      </div>

    </div>
    <div class="lower-data">
      <div class="more-info-label">Plus d'informations</div>
      <div class="more-info-container">

        <div class="weather-item">
          <div class="weather-item-label">
            <img src="../assets/max.png" alt="hot" *ngIf="data.current.temp_c > 25">
            <img src="../assets/min.png" alt="cold" *ngIf="data.current.temp_c < 25">
            <span>Temperature</span>
          </div>
          <div class="weather-item-value">{{ data.current.temp_c +' °C'}}</div>
        </div>

        <div class="weather-item">
          <div class="weather-item-label">
            <img style="width: 3em;" src="{{ data.current.condition.icon }}">
            <span>Condition</span>
          </div>
          <div class="weather-item-value">{{ data.current.condition.text }}</div>
        </div>

        <div class="weather-item">
          <div class="weather-item-label">
            <img style="width: 3em;" src="../../assets/humidity.png">
            <span>Humidité</span>
          </div>
          <div class="weather-item-value">{{ data.current.humidity+' %' }}</div>
        </div>

        <div class="weather-item">
          <div class="weather-item-label">
            <img style="width: 3em;" src="../../assets/wind.png">
            <span>Vent</span>
          </div>
          <div class="weather-item-value">{{ data.current.wind_kph+' km/h' }}</div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <div class="container"></div> -->

<router-outlet></router-outlet>
